# Flutter / Dart
.dart_tool/
.packages
.pub/
pubspec.lock
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# macOS / Windows
.DS_Store
Thumbs.db

# Flutter generated
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/ios/Pods/
**/ios/.symlinks/
**/linux/flutter/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
